%h1 Listing donations

%table
  %thead
    %tr
      %th Description
      %th Quantity
      %th Shelf life
      %th Has packing
      %th
      %th
      %th

  %tbody
    - @donations.each do |donation|
      %tr
        %td= donation.description
        %td= donation.quantity
        %td= donation.shelf_life
        %td= donation.has_packing
        %td= link_to 'Show', donation
        %td= link_to 'Edit', edit_donation_path(donation)
        %td= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Donation', new_donation_path
