= content_for :title do
  = t('.title')
= content_for :subtitle do
  = raw(t('.subtitle'))

%p#notice= notice
%p
  %b
    = t('activerecord.models.medicine')
    = ":"
  = @donation.medicine_name
%p
  %b
    = t('activerecord.attributes.donation.description')
    = ":"
  = @donation.description
%p
  %b
    = t('activerecord.attributes.donation.quantity')
    = ":"
  = @donation.quantity
%p
  %b
    = t('activerecord.attributes.donation.shelf_life')
    = ":"
  = @donation.shelf_life
%p
  %b
    = t('activerecord.attributes.donation.has_packing')
    = ":"
  = human_boolean(@donation.has_packing)

%br

= link_to t('shared.edit'), edit_donation_path(@donation)
\|
= link_to t('shared.back'), donations_path
