%nav.navbar-desktop.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => root_path}
      %b.some{ style: 'font-family: "Bungee"; size: 20px' }
        FARMA FÃCIL
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-end
      - unless user_signed_in?
        .navbar-item
          .buttons
            %a{ href: '/users/sign_up', class: 'button is-primary' }
              = fa_icon 'user-plus fw'
              %strong= t('users.registrations.new.sign_up')
            %a{ href: '/users/sign_in', class: 'button is-light' }
              = fa_icon 'sign-in-alt fw'
              = t('users.sessions.new.sign_in')
      - else
        - if current_user.has_role? :consumer
          %a.navbar-item{ href: new_donation_path }
            = fa_icon 'donate fw'
            = t('shared.new_donation')
        - elsif current_user.has_role? :drugstore
          %a.navbar-item{ href: search_donation_index_path }
            = fa_icon 'search fw'
            = t('search_donation.index.title')
        - unless current_user.wallet.nil?
          .navbar-item
            = fa_icon 'hand-holding-usd fw'
            #{t('shared.points')}:
            &nbsp
            %strong.has-text-success
              = current_user.wallet.get_current_points
        .navbar-item.has-dropdown.is-hoverable
          %a.navbar-link
            = fa_icon 'user fw'
            = current_user.name
          .navbar-dropdown
            - if current_user.has_role? :consumer
              %a.navbar-item{ href: donations_path, class: 'navbar-item' }
                = fa_icon 'donate fw'
                = t('donations.my_donations')
            %a.navbar-item{ href: bids_path, class: 'navbar-item' }
              = fa_icon 'hand-holding-usd fw'
              = t('bids.my_bids')
            %a.navbar-item
              = fa_icon 'question-circle fw'
              = t('shared.help')
            %a{ href: '/users/edit', class: 'navbar-item' }
              = fa_icon 'user fw'
              = t('shared.edit_profile')
            %hr.navbar-divider
            %a{ href: '/users/sign_out', class: 'navbar-item', data: { method: :delete } }
              = fa_icon 'sign-out-alt fw'
              = t('users.sessions.logout')
