%nav.navbar-desktop.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://bulma.io"}
      %img{:height => "28", :src => "https://bulma.io/images/bulma-logo.png", :width => "112"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item{ href: root_path }
        = fa_icon 'home fw', text: t('shared.home')
    .navbar-end
      - unless user_signed_in?
        .navbar-item
          .buttons
            %a{ href: '/users/sign_up', class: 'button is-primary' }
              = fa_icon 'user-plus fw'
              %strong= t('users.registrations.new.sign_up')
            %a{ href: '/users/sign_in', class: 'button is-light' }
              = fa_icon 'sign-in fw'
              = t('users.sessions.new.sign_in')
      - else
        .navbar-item
          #{t('shared.points')}:
          &nbsp
          %strong.has-text-success
            = current_user.wallet.balance
        .navbar-item.has-dropdown.is-hoverable
          %a.navbar-link
            = current_user.name
          .navbar-dropdown
            %a.navbar-item
              = fa_icon 'question-circle fw'
              = t('shared.help')
            %a{ href: '/users/edit', class: 'navbar-item' }
              = fa_icon 'user fw'
              = t('shared.profile')
            %hr.navbar-divider
            %a{ href: '/users/sign_out', class: 'navbar-item', data: { method: :delete } }
              = fa_icon 'sign-out fw'
              = t('users.sessions.logout')
