!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FarmaciaFacil
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Ultra', type: 'text/css'
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Bungee', type: 'text/css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'header'
    - unless current_page?(root_path)
      %section.hero.is-primary.is-bold
        .hero-body
          .container
            %h1.title
              = yield :title
            %h2.subtitle
              = yield :subtitle


      .columns.is-mobile.is-centered
        .column.is-three-quarters-desktop
          %section.section
            - flash.each do |key, value|
              .notification{ :class => "is-#{key}" }
                %button.delete{ :data => { :dismiss => "alert" } } x
                %strong
                  = value
            = yield
    - else
      = yield
    = render 'footer'
