= content_for :title do
  = t('.title')
= content_for :subtitle do
  = raw(t('.already_registered'))
.columns
  .column.is-three-fifths-desktop
    = form_for(resource,
      as: resource_name,
      builder: BulmaFormBuilder,
      url: drugstores_sign_up_path(resource_name)) do |f|
      = devise_error_messages!
      = render 'tabs'
      #personal-form
        = render 'drugstore_new_form', f: f
      #address-form{ style: "display: none;" }
        = render 'address', address: @address, f: f
      %br/
      .control
        = f.submit t('.sign_up'), class: 'button is-primary'

:javascript
  var options = {
      onKeyPress: function (cpf, ev, el, op) {
          var masks = ['000.000.000-000', '00.000.000/0000-00'];
          $('#user_taxvat').mask((cpf.length > 14) ? masks[1] : masks[0], op);
      }
  }

  $('#user_taxvat').mask('00.000.000/0000-00', options);
